In [1]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('../src/')

In [2]:
path_raw    = '../data/raw/'
dirname     = 'titanic/'
filename    = 'titanic.csv'

## Load data

In [3]:
raw_df = pd.read_csv(os.path.join(path_raw, dirname, filename))

In [4]:
print(raw_df.shape)
raw_df.head(3)

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Execution

In [5]:
# X features names
features_type = {'qualitative': ['PassengerId', 
                                 'Pclass',
                                 'Name',
                                 'Sex',                                 
                                 'Ticket',
                                 'Cabin',
                                 'Embarked'
                                ],
                'quantitative': ['Age',
                                 'SibSp',
                                 'Parch',
                                 'Fare'
                                ]
                }

# target name
y_name = 'Survived'

In [6]:
path_output = '../data/output/titanic/'

method_missing_quanti = 'median'
outliers_method = 'lof'
alpha_sta = 0.05
seed = 42
method_scale = 'standard'
metric = 'accuracy'
njobs = -1

In [7]:
from octopus import octopus_ml

In [8]:
octo = octopus_ml(
                method_missing_quanti = method_missing_quanti,
                outliers_method = outliers_method,
                alpha_sta = alpha_sta,
                seed = seed,
                method_scale = method_scale,
                metric_train = metric,
                njobs = njobs)

In [9]:
results = octo.run(data          = raw_df,
                   y_name        = y_name,
                   features_type = features_type,
                   path_output   = path_output)

2021-05-20 22:35:34,228 INFO: Started to check the features consistency
2021-05-20 22:35:34,260 INFO: Features: ['PassengerId', 'Name', 'Ticket', 'Cabin'] were removed because its distribution
2021-05-20 22:35:34,261 INFO: Consistency values finished!
2021-05-20 22:35:34,266 INFO: Feature Age was imputer with the method median value = 28.0
2021-05-20 22:35:34,267 INFO: Feature Embarked was imputer with "other"
2021-05-20 22:35:34,268 INFO: None feature were removed because the missing values
2021-05-20 22:35:34,269 INFO: Handle missing values finished!
2021-05-20 22:35:34,270 INFO: Detect outliers started
2021-05-20 22:35:34,271 INFO: Local Outlier Factor method selected
2021-05-20 22:35:34,302 INFO: Detected 146 outliers
2021-05-20 22:35:34,303 INFO: Detect outliers finished

LR model: accuracy = 0.801006 (0.041433)
LRR model: accuracy = 0.799253 (0.036570)
RF model: accuracy = 0.826039 (0.034669)
XGB model: accuracy = 0.824318 (0.048278)

In [12]:
results['best_model']

('RF',
 RandomForestClassifier(max_depth=8, max_features=0.37384777848686024,
                        min_samples_leaf=9, min_samples_split=73,
                        n_estimators=248, random_state=42))