In [1]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('../src/')

In [2]:
path_raw    = '../data/raw/'
dirname     = 'diabetes/'
filename    = 'diabetes.csv'

## Load data

In [3]:
raw_df = pd.read_csv(os.path.join(path_raw, dirname, filename))

In [4]:
print(raw_df.shape)
raw_df.head(3)

(101766, 50)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO

In [6]:
raw_df.weight.value_counts()

?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

## Execution

In [5]:
# X features names
features_type = {'qualitative': ['PassengerId', 
                                 'Pclass',
                                 'Name',
                                 'Sex',                                 
                                 'Ticket',
                                 'Cabin',
                                 'Embarked'
                                ],
                'quantitative': ['Age',
                                 'SibSp',
                                 'Parch',
                                 'Fare'
                                ]
                }

# target name
y_name = 'Survived'

data = raw_df.copy()

path_output = '../data/output/titanic/'

In [6]:
config = {}
config['test_size']        = 0.25
config['min_missing']      = 0.25
config['outliers_method']  = 'lof'
config['alpha_sta']        = 0.05
config['strategy_missing'] = 'median'
config['method_scale']     = 'standard'
config['metric_train']     = 'accuracy'
config['seed']             = 42
config['njobs']            = -1

In [8]:
from octopus import OctopusML

In [9]:
OctoML = OctopusML(
                test_size        = config['test_size'],
                min_missing      = config['min_missing'],
                outliers_method  = config['outliers_method'],
                alpha_sta        = config['alpha_sta'],
                strategy_missing = config['strategy_missing'],
                method_scale     = config['method_scale'],
                metric_train     = config['metric_train'],
                njobs            = config['njobs'],
                seed             = config['seed'])

In [10]:
results = OctoML.autoML(
                   data          = data,
                   y_name        = y_name,
                   features_type = features_type,
                   path_output   = path_output)

2021-05-23 18:54:44,783 INFO: Started to check the features consistency
2021-05-23 18:54:44,815 INFO: Features: ['PassengerId', 'Name', 'Ticket', 'Cabin'] were removed because its distribution
2021-05-23 18:54:44,816 INFO: Consistency values finished!
2021-05-23 18:54:44,823 INFO: Feature Embarked was imputer with "other"
2021-05-23 18:54:44,825 INFO: None feature were removed because the missing values
2021-05-23 18:54:44,826 INFO: Check the missing values finished!
2021-05-23 18:54:44,827 INFO: Detect outliers started
2021-05-23 18:54:44,828 INFO: Local Outlier Factor method selected
2021-05-23 18:54:44,863 INFO: Detected 80 outliers
2021-05-23 18:54:44,863 INFO: Detect outliers finished

Logistic Regression is going to be fitted
Logistic Regression fitted
Regularized Logistic Regression is going to be fitted
Regularized Logistic Regression fitted
Random Forest is going to be fitted
Random Forest fitted
XGBoost is going to be fitted
XGBoost fitted
Time execution training models: 0:02:47.771143
LR model: accuracy = 0.795956 (0.034484)
LRR model: accuracy = 0.795956 (0.034484)
RF model: accuracy = 0.827077 (0.048432)
XGB model: accuracy = 0.810820 (0.035628)

**what is missing?**

Improve documentation

More options to handle missing values (imputer)

To add at HTML the metrics results in evaluate

Add feature importances

Interpretable Machine Learning