In [1]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('../src/')

In [2]:
path_raw    = '../data/raw/'
dirname     = 'titanic/'
filename    = 'titanic.csv'

## Load data

In [3]:
raw_df = pd.read_csv(os.path.join(path_raw, dirname, filename))

In [4]:
print(raw_df.shape)
raw_df.head(3)

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Execution

In [5]:
# X features names
features_type = {'qualitative': ['PassengerId', 
                                 'Pclass',
                                 'Name',
                                 'Sex',                                 
                                 'Ticket',
                                 'Cabin',
                                 'Embarked'
                                ],
                'quantitative': ['Age',
                                 'SibSp',
                                 'Parch',
                                 'Fare'
                                ]
                }

# target name
y_name = 'Survived'

data = raw_df.copy()

path_output = '../data/output/titanic/'

In [6]:
config = {}
config['test_size']        = 0.25
config['min_missing']      = 0.25
config['outliers_method']  = 'lof'
config['alpha_sta']        = 0.05
config['strategy_missing'] = 'median'
config['method_scale']     = 'standard'
config['metric_train']     = 'accuracy'
config['seed']             = 42
config['njobs']            = -1

In [8]:
from octopus import OctopusML

In [9]:
OctoML = OctopusML(
                test_size        = config['test_size'],
                min_missing      = config['min_missing'],
                outliers_method  = config['outliers_method'],
                alpha_sta        = config['alpha_sta'],
                strategy_missing = config['strategy_missing'],
                method_scale     = config['method_scale'],
                metric_train     = config['metric_train'],
                njobs            = config['njobs'],
                seed             = config['seed'])

In [10]:
results = OctoML.autoML(
                   data          = data,
                   y_name        = y_name,
                   features_type = features_type,
                   path_output   = path_output)

2021-05-23 18:54:44,783 INFO: Started to check the features consistency
2021-05-23 18:54:44,815 INFO: Features: ['PassengerId', 'Name', 'Ticket', 'Cabin'] were removed because its distribution
2021-05-23 18:54:44,816 INFO: Consistency values finished!
2021-05-23 18:54:44,823 INFO: Feature Embarked was imputer with "other"
2021-05-23 18:54:44,825 INFO: None feature were removed because the missing values
2021-05-23 18:54:44,826 INFO: Check the missing values finished!
2021-05-23 18:54:44,827 INFO: Detect outliers started
2021-05-23 18:54:44,828 INFO: Local Outlier Factor method selected
2021-05-23 18:54:44,863 INFO: Detected 80 outliers
2021-05-23 18:54:44,863 INFO: Detect outliers finished

Logistic Regression is going to be fitted
Logistic Regression fitted
Regularized Logistic Regression is going to be fitted
Regularized Logistic Regression fitted
Random Forest is going to be fitted
Random Forest fitted
XGBoost is going to be fitted
XGBoost fitted
Time execution training models: 0:02:47.771143
LR model: accuracy = 0.795956 (0.034484)
LRR model: accuracy = 0.795956 (0.034484)
RF model: accuracy = 0.827077 (0.048432)
XGB model: accuracy = 0.810820 (0.035628)

**what is missing?**

Improve documentation

More options to handle missing values (imputer)

To add at HTML the metrics results in evaluate